<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div *ngFor="let toast of toastService.toasts" class="toast" role="alert" aria-live="assertive" aria-atomic="true" [class.show]="toast.show" [ngClass]="{
    'bg-success text-white': toast.type === 'success',
    'bg-danger text-white': toast.type === 'danger',
    'bg-warning text-dark': toast.type === 'warning',
    'bg-info text-white': toast.type === 'info'
  }">
    <div class="toast-header">
      <strong class="me-auto">{{ toast.title }}</strong>
      <button type="button" class="btn-close" (click)="toastService.remove(toast)" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{ toast.message }}
    </div>
  </div>
</div>